main {
    min-height: 680px;
}

.listing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm);
}

.listing-item {
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: var(--space-sm);
    transition: all.4s;
    padding: var(--space-md);
    border: solid 1px var(--border-color);
    border-radius: var(--radius-sm);

    & img {
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        object-fit: cover;
        border-radius: var(--radius-sm);
    }

    &:hover {
        transform: translateY(-10px)
    }
}

.info-box {
    display: flex;
    flex-direction: column;
    padding: var(--space-sm);
    background-color: var(--primary-color);
    border-radius: var(--radius-sm);
    gap: var(--space-sm);

    & .info-box-header {
        display: flex;
        gap: var(--space-sm);
        align-items: center;
        color: white;

        & .info-box-icon {
            width: 20px;
            height: 20px;
            padding: 4px;
            background: white;
            color: var(--primary-color);
            aspect-ratio: 1;
            border-radius: 100px;
        }

    }


    & .info-box-description {

        display: flex;
        gap: var(--space-sm);

        & span {
            line-height: 1em;
            padding: .4em 1em;
            border-radius: 100px;
            font-weight: 900;
            background-color: var(--accent-background-color);
            width: fit-content;
        }

        & p {
            color: white;
        }
    }
}