:root {
    --space-sm: 12px;
    --space-md: 24px;
    --space-lg: 48px;
    --space-xl: 100px;
    --space-2xl: 120px;
    --space-3xl: 150px;
    --radius-sm: 12px;

    --primary-color: #36098f;
    --secondary-color: #7836fd;
    --accent-background-color: #c1f04a;

    font-size: 16px;
}

main {
    margin-top: var(--space-lg);
}

hr {
    border-top: solid 1px #ccc;
    margin: var(--space-lg) 0;
}

p:only-of-type {
    margin: 0;
}

.title {
    font-weight: 700;
    line-height: 2rem;
    margin: 0
}

.title-1 {
    font-size: 1.8rem;
}

.title-2 {
    font-size: 1.5rem;
}

.title-3 {
    font-size: 1.4rem;
}

.title-3 {
    font-size: 1.3rem;
}


.text {
    line-height: 2rem;
}

.text-1 {
    font-size: 1.2rem;
}

.text-2 {
    font-size: 1rem;
}

.container {
    width: 750px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 var(--space-md);
    gap: var(--space-md);
}


footer {
    margin-top: var(--space-lg);
    background: var(--primary-color);
    color: white;
    text-align: center;
    height: var(--space-xl);
    display: flex;
    align-items: center;
}

header {
    margin-bottom: var(--space-lg);
    background: white;
    text-align: center;
    height: var(--space-xl);
    display: flex;
    align-items: center;
    border-bottom: solid 1px #ccc;

    & .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-content: center;
    }


    & .nav-menu {
        display: flex;
        list-style: none;
        gap: var(--space-sm);
        padding: 0;
        margin: auto;
        width: fit-content;

        font-weight: 600;
        color: #acacac;

        & a {
            text-decoration: none;
            color: var(--secondary-color);
        }
    }

    & .btn {
        margin-left: auto;
    }
}

.btn {
    padding: 0 var(--space-md);
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 100px;
    transition: all.2s;
    border: solid 1px;
    font-weight: 600;

    &.btn-primary {
        color: var(--secondary-color);
        border-color: var(--secondary-color);

        &:hover {
            background-color: var(--secondary-color);
            color: white;
        }
    }
}