.DS_Store
# phpcs.xml
# phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
/vendor/doctrine
/vendor/phar-io
/vendor/phpunit
/vendor/sebastian
/vendor/theseer
*.sql
*.tar.gz
*.zip
*.phpunit.result.cache